<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }} - PasteLite</title>
    <style>
        body { margin: 0px; padding: 0px; height: 100%; overflow-x: hidden; }
       
    </style>
    {{#if dark}}
    <link href="static/prism.dark.css" rel="stylesheet" />
    {{else}}
    <link href="static/prism.light.css" rel="stylesheet" />
    {{/if}}
</head>
<body>
<pre>
<code class="{{language}}">{{ content }}</code>
</pre>
{{#if dark}}
<script src="static/prism.dark.js"></script>
{{else}}
<script src="static/prism.light.js"></script>
{{/if}}
</body>
</html>